@import url(http://fonts.googleapis.com/css?family=Lato:700,400italic,700italic);

/* Main styles
 * CHANGING ANYTHING HERE WILL CHANGE EVERY SINGLE PAGE
 */
body {
  font: 16px/1.3 normal 'Lato', helvetica;
  background-color: #4ABD9B;
  margin: 0;
}

.container {
  background-color: white;
  padding: 20px;
  margin: 50px auto;
  width: 50%;
  border-radius: 20px;
  text-align: center;
}


header {
  background-color: rgba(255,255,255,0.6);
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}

header:hover {
  background-color: rgba(255,255,255,0.8);
}

.center {
  margin-bottom: 0 auto 30px auto;
}

.birthday-person {
  height: 444px;
  width: 444px;
  position: relative;
  border-radius: 500px;
  cursor: pointer;
  border: 4pt solid white;
  margin: 0 auto 30px auto;
}

.birthday-person > .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 500px;
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  z-index: 1;
}

.birthday-person > .text {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  top: 40%;
  font-size: 40px;
  text-align: center;
  color: white;
  opacity: 0;
  z-index: 2;
}

.birthday-person:hover > .overlay {
  opacity: 1;
}

.birthday-person:hover > .text {
  opacity: 1;
}

.birthday-person img {
  width: 100%;
  height: 100%;
  border-radius: 500px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.person-logo {
  position: fixed;
  width: 50px; height: 50px;
  bottom: 30px; left: 30px;
}

.bg-img {
  position: fixed; left: 0; top: 0;
  min-width: 100%; min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: auto; height: auto; z-index: -100;
}


.container {
  width: 1000px;
}

.student_photo {
  float: left;
  height: 200px;
  width: 200px;
  vertical-align: middle;
}

.student_comment {
  float:right;
  width: 750px;
}

.student_comment > .container {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: left;
}